DATABASE_URL=aqui_va_tu_url_de_postgres
JWT_SECRET=aqui_va_tu_clave_secreta
PORT=3000

EMAIL_HOST=smtp.gmail.com     // por defecto
EMAIL_PORT=465                // por defecto
EMAIL_SECURE=true             // por defecto
EMAIL_USER=usuario de gmail
EMAIL_PASS=contraseña de aplicacion sacada de gmail

